html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
 }

 /* top section */
.static-header{    
    float: left;
    width: 100%;
    height: 70px;
    z-index: 99;
    position:relative;
    margin: 0px;
    padding: 0px;
    background: rgb(82,151,255);
}

.static-header p {
    float: left;
    width: 100%;
    color: #000;
    /* color: rgb(255, 255, 255); */
    font-size: 2rem;
    line-height: 0.8rem;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    padding: 12px 0px;
    font-weight: 600;
}

@media (max-width: 767px){
    .static-header p {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 6px 0px;
        color: #fff;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
    }
}

.text1{
    margin-top: 80px;
}
.text2{
    font-size: 1.2rem;
}
.text3{
    font-size: 1rem;
}